<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">
      <i class="fas fa-quote-left"></i>
      Quotes
      <i class="fas fa-quote-right"></i>
    </h1>
    <p class="lead">Post your quote here</p>
    <hr />
    <a class="btn btn-light btn-lg me-5" href="/register" role="button"
      >Register</a
    >
    <a class="btn btn-dark btn-lg ms-5" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
