<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <h1 class="display-3">
      <i class="fas fa-quote-left"></i>
      Quote
      <i class="fas fa-quote-right"></i>
    </h1>
    <p class="secret-text">Submit a quote</p>

    <form action="/submit" method="POST">
      <div class="form-group">
        <input
          type="text"
          class="form-control text-center"
          name="quote"
          placeholder="What's your quote?"
        />
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>
<%- include('partials/footer') %>
